# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
venv/
.venv/

# Environment secrets
.env
.env.local
.env.docker

# FastAPI / local files
*.log

# Alembic / cache
.pytest_cache/
.mypy_cache/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db